@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

main {
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  padding: 96px 260px;

  & .container {
    border-radius: 8px;
    padding: 30px;
    background-color: #ffffff;

    & h2{
      font-weight: 400;
      font-size: 36px;
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .nome {
        gap: 6px;
        
        & label {
            font-weight: 400;
        }
      }
    }
  }
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 0.5px solid #757575;
    border-radius: 6px;
}

.linha {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.coluna {
  width: 48%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

button {
  background-color: #5378bb;
  border-radius: 8px;
  border: none;
  gap: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
